body{
    background-color: #f9f9f9;
}
.burger{
    width: 30px;
    height: 21px;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    gap: 3px;
    div{
        background: #000;
        height: 100%;
        border-radius: 4px;
    }
}
.btn-project{
    background: #aaa;
    width: 30px;
    height: 30px;
}
iframe{
    &::-webkit-scrollbar {
        width: 0;
    }
}